# Visual Studio 2015 cache/options directory
.vs/
bin
obj
*.db
*.lock

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs